
    <div class="main-contents">
      <div class="left-contents">
        <%= render partial: "/shared/left_contents" %>
      </div>
      <div class="right-contents scroll-container">
        <div class="selfback-image">
          <p class="self-name"></p>
          <div class="background-image" style="background-image: url(http://acusd1.org/High%20School/1516events/Van%20Voorhis%201516/Info%20Pro%2015-16/18%20Braeton/Pictures/My%20Favorite%20Hobby/Slider3.jpg);">
            <%= image_tag "http://www.somecity.tv/images/ballers/main/673_1.jpg", class: "self-icon" %>
          </div>
        </div>
        <p>-Profile-</p>
        <p></p>
      </div>
    </div>
  </main>
