<div class="left-contents">
  <div class="profile">
    <div class="profile-image">
      <%= image_tag "https://omotesando-info.com/webmagazine/wp-content/uploads/12-3.jpg", class: "user-image" %>
    </div>
    <div class="profile-name">
      <p>LoginName:</p>
      <i class="fas fa-signature"></i>
        <%= current_user.nickname %></br>
      <i class="fas fa-edit"></i>
        <%= link_to "LoginEdit", edit_user_registration_path %></br>
      <i class="fas fa-sign-out-alt"></i>
        <%= link_to "LogOut", destroy_user_session_path, method: :delete %>
    </div>
  </div>
</div>
