.notification {
  .notice {
    background-color: blue;
    color: white;
    text-align: center;
    position: fixed;
  }

  .alert {
    background-color: orange;
    color: white;
    text-align: center;
    position: fixed;
  }
}
