
.profile {
  font-size: 20px;
  text-align: center;
}
.profile-image {
  height: 240px;
  width: 240px;
  margin: 20px 30px;
  border-radius: 100%;
  background-color: #ccc;
}
.user-image {
  height: 240px;
  width: 240px;
  border-radius: 100%;
}
