.hidden {
  display: none;
}
.pointer {
  cursor: pointer;
}
.b-btn {
  position: absolute;
  top: 27px;
  right: 67px;
}
.to-group {
  height: 60px;
  width: 200px;
  font-size: 25px;
  margin: 15px 50px;
  border-radius: 5px;
  float: right;
  background-color: #FF9800;
}
