

//tweet area
.tweet_contents {
  &__tweet {
    width: 48%;
    margin: 10px;
    display: block;
    border-radius: 10px;
    background-color: #5DA797;
    &--params {
      margin: 10px;
    }
    &--params img {
      height: 100px;
      width: 100px;
      border-radius: 10px;
    }
  }
}
.right-side {
  float: right;
}
.left-side {
  float: left;
}




//tweet 部分右下
.tweet-size {
  margin-bottom: 80px;
}

.tweet-form {
  height: 80px;
  width: 100%;
  float: right;
  position: fixed;
  bottom: 0;
  background-color: #597C8B;
}
