<div class="wrapper">
  <header>
    <div class="header-top">
      <div class="header-top__left">
        <h1 class="title">EditProfile</h1>
      </div>
      <div class="header-top__right">
      </div>
    </div>
    <div class="header-bottom">
    </div>
  </header>
    <main class="devise-main">
      <%= render partial: "form" %>
    </main>
</div>
